@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .more {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-tab.jpeg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .more {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-tab2x.jpeg);
    }
  }
  .more-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
  }
  .more-btn {
    margin-top: 36px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1158px;
  }

  .more {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/hero-bg-desk.jpeg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .more {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-desk2x.jpeg);
    }
  }
  .more-title {
    max-width: 496px;
  }
  .more-btn {
    margin-top: 48px;
  }
}

/*Benefits*/
@media screen and (min-width: 768px) {
  .benefits-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
  }

  .benefits-item {
    width: calc((100% - 24px) / 2);
    max-width: 356px;
  }
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding: 120px 156px;
  }

  .benefits-list {
    display: flex;
    gap: 24px;
  }

  .benefits-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .benefits-bg {
    display: flex;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }

  .benefits-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
  .benefits-text {
    font-weight: 400;
  }
  .benefits-item-svg {
    display: block;
  }
}
/*CONTENT*/
@media screen and (min-width: 1200px) {
  .content {
    display: block;
    padding-bottom: 120px;
    background-color: var(--white);
  }
  .content-list {
    display: flex;
    gap: 24px;
    margin-top: 72px;
  }
  .content-item {
    width: calc((100%-48px) / 3);
  }
  .content-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-title-color);
  }
}

/*Team*/
@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
  }
  .team-item {
    width: calc((100% - 24px) / 2);
    max-width: 264px;
  }
}

@media screen and (min-width: 1200px) {
  .team-list {
    gap: 24px;
  }
  .team-item {
    width: calc((100% - 72px) / 4);
  }
}

/*Customers*/
@media screen and (min-width: 768px) {
  .customers-list {
    gap: 72px 24px;
  }
  .customer-item {
    width: calc((100% - 48px) / 3);
    max-width: 168px;
  }
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    gap: 24px;
  }

  .customer-item {
    width: calc((100% - 24px * 5) / 6);
  }
}

/*Footer*/
@media screen and (min-width: 768px) {
  .footer-flex {
    flex-direction: row;
    gap: 24px;
    text-align: left;
    margin-bottom: 72px;
    align-items: flex-start;
  }
  .foorter-form {
    flex-direction: row;
    gap: 24px;
    align-items: baseline;
  }
  .footer-right {
    margin: 0;
  }
  .footer-form-text {
    text-align: left;
    margin-left: 108px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-flex {
    flex-direction: row;
    gap: 120px;
  }

  .footer-subscribe {
    margin-left: 80px;
  }
  .foorter-form {
    flex-direction: row;
    gap: 24px;
  }
  .footer-desk {
    display: flex;
  }
}
